# Entorno virtual de Python
venv/
.env

# Archivos temporales de Python
*.pyc
*.pyo
__pycache__/
*.log

# Archivos de configuración local
*.env

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de despliegue
*.sqlite3
*.db
instance/
